@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e4e4e4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  font-weight: 900;
}
